@model GameOfDojan.Models.HomePage




@{
    ViewData["Title"] = "Home Page";
}


<figure class="full-width">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="img-responsive" src="~/Logo/biggerlogotext.png" />
            <div class="text-center">
                <p>Fota en konsultdoja och börja samla dina poäng redan idag!</p>
                <a class="btn btn-theme btn-sm btn-min-block" onclick="location.href='@Url.Action("Index", "ShoePic")'">Ladda upp bild</a>
            </div>
        </div>
    </div>
</figure>

<div class="text-center">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow">
                        <div class="card-body">
                            <h2 class="card-text"><b>Topplista</b><br /></h2>
                            @{ int toplistnumber = 1;}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Användarnamn</th>
                                        <th class="text-center">Poäng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.User.OrderByDescending(x => x.Points))
                                    {
                                        <tr>
                                            <td scope="row">@toplistnumber:</td>
                                            <td>
                                                <a asp-controller="UserProfile" asp-route-id="@item.Id"> @item.UserName</a>
                                            </td>
                                            <td>@item.Points poäng</td>
                                        </tr>
                                        toplistnumber++;

                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 box-shadow">
                        <div class="card-body">
                            <h2 class="card-text"><b>Veckans bilder</b><br /></h2>
                            <div class="d-flex justify-content-between align-items-center">
                                @foreach (var item in Model.ShoePic)
                                {
                                    <a asp-controller="ShoePic" asp-action="ShoePicWithComments" asp-route-id="@item.Id">
                                        <img class="thumbnail-mini" src="@item.ImageSource" />
                                    </a>
                                }
                                <div class="btn-group">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>