@model GameOfDojan.Models.HomePage




@{
    ViewData["Title"] = "Home Page";
}

<figure class="full-width">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="logo_text" src="~/Logo/biggerlogotext.png" />
            <div class="text-center">
                <p>Fota en konsultdoja och börja samla dina poäng redan idag!</p>
                <button type="button" class="btn btn-secondary btn-lg" >Ladda upp bild</button>
            </div>
        </div>
    </div>
</figure>

<div class="text-center">
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text"><b>Topplista</b><br /></p>
                            @{ int toplistnumber = 1;}
                            @foreach (var item in Model.User.OrderByDescending(x => x.Points))
                            {

                                <a asp-controller="UserProfile" asp-route-id="@item.Id">@toplistnumber: @item.UserName med @item.Points poäng</a><p></p>
                                toplistnumber++;
                            }
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text"><b>Veckans bilder</b><br /></p>
                            <div class="d-flex justify-content-between align-items-center">
                                @foreach (var item in Model.ShoePic)
                                {
                                    <img class="thumbnail-mini" src="@item.ImageSource" />
                                    <p> @item.ApplicationUser.UserName</p>

                                }
                                <div class="btn-group">

                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="ChangePage()">Gå dit</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>