@model GameOfDojan.Models.ApplicationUser


@*<div class="container">
        <h3>Profilsida</h3>

        <div>
            <h4>Användarens bilder</h4>
            <p>@Model.UserName  har @Model.Points poäng!</p>
            <div>
                @foreach (var item in Model.ShoePicsList)
                {
                    <div class="gallery">
                        <a asp-controller="ShoePic" asp-action="ShoePicWithComments" asp-route-id="@item.Id">

                            <img class="thumbnail-mini" src="~/@item.ImageSource" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>*@
<div class="container">


    <h3>Profilsida</h3>
    <p><button class="black-btn" href="#" onclick="goBack()" class="btn-left">Tillbaka</button></p>

    <div class="row profile-top-row">
        <div class="col-md-3">
            <div class="profile-header-container">
                <img class="img-circle" src="~/images/blank-profile-picture-973461_640.png" />
                @*<img class="img-circle" src="@Model.ProfilePicture" />*@
                <div class="rank-label-container">
                    <span class="label label-default rank-label ">@Model.Points poäng</span>
                </div>
            </div>
            <div class="form-group">
                <h4><b>Användarnamn: </b></h4>
                <p>@Model.UserName</p>
            </div>
            <div class="form-group">
                <h4><b>Antal kommentarer:</b></h4>
                @if (Model.Comments != null)
                {
                    <p>@Model.Comments.Count()</p>

                }
                else
                {
                    <p>0</p>
                }
            </div>
        </div>
        <div class="col-md-9">
            <form id="profile-form" method="post">
                <div>
                    <h2><b>Uppladdade bilder</b></h2>
                    <div class="d-flex justify-content-between align-items-center">
                        @foreach (var item in Model.ShoePicsList)
                        {
                            <a asp-controller="ShoePic" asp-action="ShoePicWithComments" asp-route-id="@item.Id">
                                <img class="thumbnail-mini" src="~/@item.ImageSource" />
                            </a>
                        }
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>